body{
    background-color:black ;
}
main{
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 80px auto;
   width: 1100px;
row-gap: 40px;
}

 .email{
padding-left: 30px;
color: grey;
font-size: 27px;
font-weight: 800;
}
.user-name{
    font-weight: 800;
    color: white;
    font-size: 32px;

}
.title{
    color: grey;
    font-size: 27px;
}
.text{
    color: white;
    font-size: 27px;
}
.button{
  background-color: aqua;
  color: grey;
  float: right;
  font-size: 27px;
  padding: 20px;}